@page
@model DotKnotty.Pages.RepairTickets.DeleteModel
@{
    ViewData["Title"] = "Delete Repair Ticket";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this repair ticket?</h3>
<div>
    <h4>Repair Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepairTicket.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepairTicket.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepairTicket.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepairTicket.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepairTicket.ShipConfiguration.ShipName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepairTicket.ShipConfiguration.ShipName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepairTicket.Component)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepairTicket.Component)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepairTicket.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepairTicket.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepairTicket.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepairTicket.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepairTicket.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepairTicket.Price) GalactiCredits
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepairTicket.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepairTicket.CreatedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RepairTicket.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>